
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    background-color: aqua;
} */


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */

.btn{
    background: #F15B22;
    padding: 20px 26px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.btn-two{
    background: #ffffff;
    padding: 20px 36px;
    border: none;
    color: #F15B22
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.btn-form{
    background: #ffffff;
    padding: 20px 36px;
    border: none;
    color: #F15B22
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
}








/* Main style */

header .hiro-section {
    /* background: url(../images/banner/banner1.png); */
    background-repeat: no-repeat;
    width: auto;
    background-color: red;
}

header .hero-container{
    background: url(../images/banner/banner1.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 808px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 230px;
    text-align: right;
}

.hero-container .content{
    max-width: 525px;

}

.hero-container .content h1{
    font-size: 65px;
    font-weight: bold;
}
.hero-container .content p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;

}

.about-container{
    max-width: 1072px;
    display: flex;
    justify-content: center;
    gap: 87px;
    margin: 130px auto;
    align-items: center;
}

.about-content h2{
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
}
.about-content p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.about-content ul{
    list-style: none;
    font-size: 16px;
    line-height: 26px;
}
.about-content ul li .fa-check{
    color: #16D887;
}
.client-section h2{
    text-align: center;
    margin-bottom: 55px;
    font-size: 40px;
}
.client-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 86px;
    max-width: 1141px;
}
.client-container h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}
.client-container p{
    font-size: 25px;
    font-weight: 500;
}
.client-container img{
    margin-bottom: 24px;
    width: 100px;
}
.promo-section{
    max-width: 1140px;
    height: 300px;
    display: flex;
    margin: 130px auto;
    align-items: center;
    background: url(../images/watch.png);
    background-position: center;
    background-size: cover;
    padding-left: 64px;
    position: relative;
}

.promo-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:url(../images/gradient2.png) ;
  z-index: 1;
}

.promo-section .promo-container{
    position: relative;
    z-index: 2;
}
.promo-container h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 24px;
}
footer{
    background-color: #151414;
}
.footer-container{
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    justify-content: space-between;
    gap: 331px;
    align-items: center;
    padding: 130px 0;

}
.left h2{
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 16px;
}
.left p{
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}
.left ul{
    list-style: none;
    color: #ffffff;
    margin-bottom: 32px;
}
.left .social{
    margin-right: 20px;
    
}
.right h2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}
.right form .fild{
    width: 325px;
    padding: 20px 21px;
    font-size: 18px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: transparent;
    margin-bottom:16px;
}

    